<ion-view title="Transaccion de inventario">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>

    <ion-content>

        <div class="list">
            <ion-toggle ng-model="inventory.type">
                Ingreso/Egreso
            </ion-toggle>

            <datepicker value='inventory.dateregister' label='Fecha'></datepicker>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Code</span>
                <input type="text" placeholder="Code" ng-model="inventory.code">
            </label>

            <ion-toggle ng-model="inventory.typeprice">
                Minorista/Mayorista
            </ion-toggle>

            <div>
                <ion-select label="Seleccione almacen" label-field="name" provider="listWarehouse" ng-model="inventory.idwarehouse" />
            </div>
        </div>

        <button class="button button-block button-positive" ng-click="saveInventory()" ng-disabled="validateControls()">Guardar</button>


        <ion-list>
            <div ng-repeat="group in detail">
                <ion-item class="item-stable" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
                    <i class="icon" ng-class="isGroupShown(group) ? 'ion-edit' : 'ion-plus'"></i> &nbsp; Group {{group.name}}
                </ion-item>
                <ion-item class="item-accordion item-button-right" ng-repeat="item in group.listinvnetorydetail" ng-show="isGroupShown(group)">
                    {{item.title}}

                    <div class="buttons">
                        {{item.quantity}}
                        <button class="button button-positive" ng-click="addquantityinventorydetail(item)">
                            <i class="icon ion-android-add-circle"></i>
                        </button>
                        <button class="button button-energized" ng-click="subtractquantityinventorydetail(item)">
                            <i class="icon ion-android-remove-circle"></i>
                        </button>
                        <button class="button button-assertive" ng-click="deleteinventorydetail(item)">
                            <i class="icon ion-android-cancel"></i>
                        </button>
                    </div>
                </ion-item>
            </div>
        </ion-list>


    </ion-content>
</ion-view>