<ion-view title="Transaccion de inventario">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>

    <ion-content>

        <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

            <ion-inventory ng-repeat="inventory in inventorys" inventory="inventory" class="inventory-remove-animate">
                {{inventory.dateregister}} {{inventory.total}} {{inventory.type}}                                 
                <ion-option-button class="button-calm" ng-click="edit(inventory.id)">Ver</ion-option-button>
                <ion-option-button class="button-assertive" ng-click="showActionsheet(inventory)">
                    Eliminar
                </ion-option-button>
            </ion-inventory>

        </ion-list>

    </ion-content>

</ion-view>