<ion-view title="Items">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>

    <ion-content>

        <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

            <ion-item ng-repeat="item in items" item="item" class="item-remove-animate">
                {{item.name}} {{item.model}} {{item.make}}                                 
                <ion-option-button class="button-calm" ng-click="edit(item.id)">Ver</ion-option-button>
                <ion-option-button class="button-assertive" ng-click="showActionsheet(item)">
                    Eliminar
                </ion-option-button>
            </ion-item>

        </ion-list>

    </ion-content>

</ion-view>