<ion-view title="Venta de producto">

    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>

    <ion-tabs class="tabs-icon-top tabs-positive">

        <ion-tab title="Detalle" icon="ion-navicon-round" href="#/sale/detail">
            <ion-nav-view name="detail-sale"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Nuevo" icon="ion-ios-list-outline" href="#/sale/adm/0">
            <ion-nav-view name="adm-sale"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
    
</ion-view>