<ion-view title="Libro de ordenes">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>

    <ion-content>

        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nro orden</span>
                <input type="text" placeholder="Numero de orden" ng-model="orderBook.numberorder">
            </label>

            <datepicker value='orderBook.deadline' label='Fecha de emision'></datepicker>

            <datepicker value='orderBook.dateofissue' label='Limite de emision'></datepicker>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Llave de control</span>
                <textarea placeholder="Llave de control" ng-model="orderBook.controlkey" rows="2"></textarea>
            </label>

            <list-modal placeholder='Seleccione sucursal' model='offices.id' valuetext='office.id' list-data='listOffice' label='Seleccione sucursal'></list-modal>

            <ion-select label="Seleccione estado" label-field="name" provider="listStatus" ng-model="orderBook.status" />

        </div>

        <button class="button button-block button-positive" ng-click="saveOrderBook()" ng-disabled="validateControls()">Guardar</button>
    </ion-content>
</ion-view>