<ion-view title="Sucursales">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>

    <ion-content>

        <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

            <ion-item ng-repeat="orderBook in orderBooks" item="orderBook" class="item-remove-animate">
                {{orderBook.numberorder}} {{orderBook.dateofissue}} {{orderBook.deadline}¬ {{orderBook.Office.title}}
                <ion-option-button class="button-calm" ng-click="edit(orderBook.id)">Ver</ion-option-button>
                <ion-option-button class="button-assertive" ng-click="showActionsheet(orderBook)">
                    Eliminar
                </ion-option-button>
            </ion-item>

        </ion-list>

    </ion-content>

</ion-view>