<ion-view title="Traspaso de inventario">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>

    <ion-content>

        <div class="list">

            <datepicker value='transfer.dateregister' label='Fecha'></datepicker>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Code</span>
                <input type="text" placeholder="Code" ng-model="transfer.code">
            </label>

            <ion-toggle ng-model="transfer.typeprice" ng-disabled="validateControlsTypePrice()">
                Unitario/Mayorista
            </ion-toggle>

            <div>
                <ion-select label="Almacen origen" label-field="title" provider="listWarehouseOutput" ng-model="transfer.warehouseOutput" />
            </div>

            <div>
                <ion-select label="Almacen destino" label-field="title" provider="listWarehouseInput" ng-model="transfer.warehouseInput" />
            </div>

            <div class="row row-center">
                <div class="col col-80">
                    <ion-select label="Seleccione item" label-field="name" provider="listItem" ng-model="transfer.item" />
                </div>
                <div class="col col-center">
                    <button class="button button-positive" ng-click="additemtransferdetail()" ng-disabled="validateControlsDetail()" title="Adicionar item">
                        <i class="icon ion-plus"></i>
                    </button>
                </div>
            </div>
        </div>

        <button class="button button-block button-positive button-small" ng-click="saveTransfer()" ng-disabled="validateControls()">Guardar</button>

        <ion-list>
            <div ng-repeat="group in detail">
                <ion-item class="item-stable" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
                    <i class="icon" ng-class="isGroupShown(group) ? 'ion-edit' : 'ion-plus'"></i> &nbsp; {{group.name}}
                </ion-item>
                <ion-item class="item-accordion item-button-right" ng-repeat="item in group.listinvnetorydetail" ng-show="isGroupShown(group)">
                    {{item.itemselect.name}}

                    <div class="buttons">
                        {{item.quantity}}
                        <button class="button button-balanced button-clear" ng-click="addquantitytransferdetail(item)">
                            <i class="icon ion-android-add-circle"></i>
                        </button>
                        <button class="button button-energized button-clear" ng-click="subtractquantitytransferdetail(item)">
                            <i class="icon ion-android-remove-circle"></i>
                        </button>
                        <button class="button button-assertive button-clear" ng-click="deletetransferdetail(item)">
                            <i class="icon ion-android-cancel"></i>
                        </button>
                    </div>
                </ion-item>
            </div>
        </ion-list>


    </ion-content>
</ion-view>