<ion-view title="Roles">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>

    <ion-content>

        <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

            <ion-item ng-repeat="role in roles" item="role" class="item-remove-animate">
                {{role.title}}                
                <ion-option-button class="button-calm" ng-click="edit(role.id)">Ver</ion-option-button>
                <ion-option-button class="button-assertive" ng-click="showActionsheet(role)">
                    Eliminar
                </ion-option-button>
            </ion-item>

        </ion-list>

    </ion-content>

</ion-view>