<ion-view title="Modulos">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>

    <ion-content>

        <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

            <ion-item ng-repeat="module in modules" item="module" class="item-remove-animate">
                {{module.title}} {{module.class}}                 
                <ion-option-button class="button-calm" ng-click="edit(module.id)">Ver</ion-option-button>
                <ion-option-button class="button-assertive" ng-click="showActionsheet(module)">
                    Eliminar
                </ion-option-button>
            </ion-item>

        </ion-list>

    </ion-content>

</ion-view>