<ion-view title="Sucursales">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>

    <ion-content>

        <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

            <ion-item ng-repeat="setting in settings" item="setting" class="item-remove-animate">
                {{setting.title}} {{setting.numberid}} {{setting.note}}                
                <ion-option-button class="button-calm" ng-click="edit(setting.id)">Ver</ion-option-button>
                <ion-option-button class="button-assertive" ng-click="showActionsheet(setting)">
                    Eliminar
                </ion-option-button>
            </ion-item>

        </ion-list>

    </ion-content>

</ion-view>